body, button, input {
font-family: 'Roboto', sans-serif;
}
h1, h2,h3 h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;

}
header {
  background-image: url(./images/sample\ post.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
